.alt-header {
    margin-top:25px ;
    padding: var(--horizontal-space);
    margin-bottom:  5px;
    display: flex;
    align-items: center;
    justify-content: center;
}   

.alt-header__column__title {
    font-size: 15px;
    font-weight: 600;
}

.alt-header__column:first-child {
    margin-right: auto;
}

.alt-header__column:last-child {
    margin-left: auto;
}